.logo{
    height: 50px;
}


.h-40{
    height: 35vh;
}

.h-80{
    height: 80vh;
}

@media (min-width: 1440px) {
    .w-23{
    
        
        width: 23%;
    }
    
}


@media (max-width: 570px) {
    .spacing{
    
        
        margin-left: 10px;
    }
    
}

